#textdomain wesnoth-The_Life_Of_A_Mage

[unit]
	id=Advanced Apprentice Mage
	name= _ "Advanced Apprentice Mage"
	race=human
	#Only guy mages, sorry ladies.
	gender=male
	image="units/humans/ad-apprentice-mage.png"
	ellipse="misc/ellipse"
	hitpoints=25
	movement_type=smallfoot
	movement=5
	experience=50
	level=1
	alignment=lawful
	advanceto=Advanced Mage
	cost=18
	usage=mixed fighter
	unit_description= _ "These apprentices study much harder than their compatriots, and set to become extraordinary magi.

Special Notes:"+{SPECIAL_NOTES_MAGICAL}
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "units/humans/ad-apprentice-mage.png" "units/humans/ad-apprentice-mage.png" {SOUND_LIST:HUMAN_HIT} }
	[attack]
		name=staff
		description=_"staff"
		icon=attacks/staff-magic.png
		type=impact
		range=melee
		damage=5
		number=1
	[/attack]
	[attack]
		name=magic puff
		description=_"magic puff"
		icon=attacks/magic-missile.png
		type=fire
		range=ranged
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
		damage=8
		number=3
	[/attack]
	[attack_anim]
		[attack_filter]
			name=staff
		[/attack_filter]
		[if]
			hits=yes
			[frame]
				begin=-250
				end=200
				image="units/humans/ad-apprentice-mage.png"
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-250
				end=200
				image="units/humans/ad-apprentice-mage.png"
			[/frame]
		[/else]
	[/attack_anim]
	[attack_anim]
		[attack_filter]
			name=magic puff
		[/attack_filter]
		[missile_frame]
			begin=-200
			end=0
			halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
			halo_x,halo_y=7,-17
		[/missile_frame]
		[frame]
			begin=-400
			end=-350
			image="units/humans/ad-apprentice-mage-attack.png"
		[/frame]
		[frame]
			begin=-350
			end=-200
			image="units/humans/ad-apprentice-mage-attack.png"
			halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
			halo_x,halo_y=8,-19
		[/frame]
		[if]
			hits=no
			[frame]
				begin=-200
				end=0
				image="units/humans/ad-apprentice-mage-attack.png"
				halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
				halo_x,halo_y=8,-19
				sound=magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg
			[/frame]
		[/if]
		[else]
			hits=yes
			[frame]
				begin=-200
				end=0
				image="units/humans/ad-apprentice-mage-attack.png"
				halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
				halo_x,halo_y=8,-19
				sound=magic-missile-1.ogg,magic-missile-2.ogg,magic-missile-3.ogg
			[/frame]
		[/else]
		[frame]
			begin=0
			end=50
			image="units/humans/ad-apprentice-mage-attack.png"
		[/frame]
	[/attack_anim]
[/unit]
